<html>
    <body>
        <form action="/companySignup" method="POST">
            <label>
                <input name="company" type="text" placeholder="Enter company's name" required>
                <input name="email" type="email" placeholder="Enter your mail" required>
                <input name="password" type="password" placeholder="Enter your password" required>
                <button type="submit">Submit</button>
            </label>
        </form>
    </body>
</html>