<html>
    <body>
        <form action="/companySignin" method="POST">
            <label>
                <input name="company" type="text" placeholder="Company name">
                <input name="email" type="email" placeholder="email">
                <input name="password" type="password" placeholder="password">
                <button type="submit">Submit</button>
            </label>
        </form>
    </body>
</html>