<html>
    <body>
        <form action="/getAppointment" method="POST">
            <label>
                <input name="date" type="date" placeholder="DD/MM/YYYY">
                <input name="company" type="text">
                <button type="submit">Submit</button>
            </label>
        </form>
    </body>
</html>