<htm>
    <body>
        <form>
            <a href="/companySignup">Signup as a Company</a><br>
            <a href="/userSignup">Signup to get appointment</a><br>
            <a href="/companySignin">Login as a Company</a><br>
            <a href="/userSignin">Login to get appointment</a><br>
        </form>
    </body>
</htm>