<html>
    <body>
        <form action="/scheduleAppointment" method="POST">
            <label>
                <input name="date" type="date" placeholder="DD/MM/YYYY">
                <input name="from" type="time">
                <input name="to" type="time">
                <br>
                <input name="company" type="text">
                <button type="submit">Submit</button>
            </label>
        </form>
    </body>
</html>