<html>
    <body>
        <form action="/userSignin" method="POST">
            <label>
                <input name="email" type="email" placeholder="email">
                <input name="password" type="password" placeholder="password">
                <button type="submit">Submit</button>
            </label>
        </form>
    </body>
</html>